- if @user.product.present?
  - if @user.unitprice == nil
    .span
      = link_to 'Set up Rate', new_pricebook_entry_path
    .span
      %small Create standard pricebook entry for service provider, stores default list price (hourly rate)
  - else
    .span
      %strong Default Rate #{number_to_currency @user.unitprice}
    .span
      %small
        = link_to 'Change Default Rate', edit_pricebook_entry_path(@user.product.pricebook_entries.last)
    
- else
  .span
    = link_to 'Request to become an Improve Trainer', products_path, method: :post 
  .span
    %small Create 'sku' for service provider 