%h3 Hello #{@user.name}

= render 'manage_rate'
%br
- unless @user.product.pricebook_entries.empty?
  Ready to help your clients improve?
  = link_to 'Add new Client', new_client_path

  %h3 Client List
  %ul
    - @user.contracts.each do |contract|
      %li=link_to contract.client.name, client_path(contract.client, contract: contract.sfid)