%h3 Hello #{@user.name}

%p Ready to start improving?

- unless @user.pricebook_entry.present?
  %p Become an improve trainer today.
  %p 
    = link_to 'Set up Rate', new_product_path
- else
  ready to help your clients improve at {@}
  = link_to 'Add new Client', new_client_path

  %h3 Client List
  %ul
    - @user.contracts.each do |contract|
      %li=link_to contract.client.name, client_path(contract.client, contract: contract.sfid)