%h3 Hello #{@user.name}
= render 'manage_rate'
%br
- unless @user.unitprice == nil
  .span
    Ready to help your clients improve?
    = link_to 'Add new Client', new_client_path
  %h3 Current Client List
  %ul
    - @user.orders.each do |order|
      %li=link_to order.client.name, order_path(order)