%h3 Hello #{@user.name}
= render 'manage_rate'
%br
- unless @user.unitprice == nil
  .span
    Ready to help your clients improve?
    = link_to 'Add new Client', new_client_path
  %h3 Current Client List
  %ul
    - @user.contracts.each do |contract|
      %li=link_to contract.client.name, contract_path(contract)